.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.app-wrapper-content {

}

.content {
    grid-area: c;
    background-color: ghostwhite;
}