.app-wrapper {
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

img {
    max-width: 100%;
}

.app-wrapper-content {
    /*grid-area: с;*/
    background-color: azure;
}